body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0px;
  text-align: center;
}
.main-body {
  margin: auto;
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
}
/*header*/
header {
  background-color: black;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  align-items: center;
  z-index: 1;
}
header nav {
  display: block;
  padding-right: 30px;
  text-align: right;
  flex-grow: 1;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header img {
    padding: 10px;
    height: 50px;
}
.fitimg1 {
  max-height: 100%;
  max-width: 100%;
}
nav span {
  padding: 20px 10px;
  text-align: right;
  flex-grow: 1;
}
a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}
/*top*/
.top {
  justify-content: center;
  height: 700px;
}
#mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  padding-top: 69px;
}
.bckimg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#mission .statement {
  width: 100%;
  background-color: black;
  margin: auto;
}
/*middle*/
#middle {
  height: 600px;
  width: 1000px;
  padding-top: 100px;
  padding-bottom: 75px;
  margin: auto;
}
.pic-containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pic {
  padding: 5px;
}
.pic img {
  display: block;
  margin: 10px;
  height: 200px;
  width: 300px;
}
/*bottom*/
#bottom {
  padding-top: 80px;
  height: 500px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}
h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}
.pic2 {
  display: flex;
  margin: 10px 20px;
  padding: 10px;
  opacity: 1;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  flex-basis: 300px;
}
.contact-info {
  height: 250px;
}
/*footer*/
footer {
  padding-left: 15px;
  text-align: left;
}
